<div class="row">

<aside class="col-md-4">
  <section class="course_info">
    <%= render 'search_form' %>
  </section>

</aside>
</div>

<%= render partial: "search_results", collection: @courses, as: :course %>
